{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">BIRD`S CARE</h1>
      <p style="text-align:justify;"> BIRD`S CARE began with a simple idea—that every birdwatcher has unique knowledge and experience. Our goal is to gather this information in the form of checklists of birds, archive it, and freely share it to power new data-driven approaches to science, conservation and education. At the same time, we develop tools that make birding more rewarding. From being able to manage lists, photos and audio recordings, to seeing real-time maps of species distribution, to alerts that let you know when species have been seen, we strive to provide the most current and useful information to the birding community.</p>
     <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>-->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2></h2>
        <p style="text-align:justify;">BIRD`S CARE is among the world’s largest biodiversity-related science projects, with more than 100 million bird sightings contributed annually by BIRD`S CAREers around the world and an average participation growth rate of approximately 20% year over year. A collaborative enterprise with hundreds of partner organizations, thousands of regional experts, and hundreds of thousands of users, BIRD`S CARE is managed by the Cornell Lab of Ornithology. </p>
        <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
      </div>
      <div class="col-md-4">
        <h2></h2>
        <p style="text-align:justify;">BIRD`S CARE data document bird distribution, abundance, habitat use, and trends through checklist data collected within a simple, scientific framework. Birders enter when, where, and how they went birding, and then fill out a checklist of all the birds seen and heard during the outing. BIRD`S CARE’s free mobile app allows offline data collection anywhere in the world, and the website provides many ways to explore and summarize your data and other observations from the global BIRD`S CARE community. </p>
        <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
      </div>

       <div class="col-md-4">
        <h2></h2>
        <p style="text-align:justify;">BIRD`S CARE is available worldwide, comprising a network of local, national, and international partners. BIRD`S CARE directly collaborates with hundreds of partner groups for regional data entry portals, outreach, engagement, and local impact. Explore regional collaborators.

Data quality is of critical importance. When entering sightings, observers are presented with a list of likely birds for that date and region.  </p>
        <!--<p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
